replicaCount: 1

image:
  repository: aveelash/go-web-app
  pullPolicy: IfNotPresent
  tag: "19538453253"

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: chart-example.com
      paths:
      - path: /
        pathType: ImplementationSpecific